SignSys/Client/Connected Services/MyWcf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="personInfo" nillable="true" type="q1:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="personInfo" nillable="true" type="q2:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="personInfo" nillable="true" type="q3:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPerosnInfoToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="personInfo" nillable="true" type="q4:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPerosnInfoToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPerosnInfoToServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPictureInfoToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="pictureInfo" nillable="true" type="q5:PictureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPictureInfoToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPictureInfoToServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="personInfo" nillable="true" type="q6:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPasswordToServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSignInfoToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="signInfo" nillable="true" type="q7:PersonSignInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSignInfoToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSignInfoToServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStateInfoToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNickName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="state" type="q8:PersonStateInfo" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStateInfoToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStateInfoToServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAllSignInfoToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="allSignInfo" nillable="true" type="q9:ArrayOfPersonSignInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAllSignInfoToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAllSignInfoToClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMacAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMacAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveMacAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePictureFromServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="ttAndEP" type="q10:TimetableAndExpPic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePictureFromServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="ReceivePictureFromServerResult" nillable="true" type="q11:PictureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSignInfoFromServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSignInfoFromServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveSignInfoFromServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveAllSignInfoFromServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveAllSignInfoFromServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PublicBaseClassProj" minOccurs="0" name="ReceiveAllSignInfoFromServerResult" nillable="true" type="q12:ArrayOfPersonSignInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>